---
layout: base
---
<!--
<h2>Kurikulum KPA</h2>

<ul>
  <li><h3><a href="https://docs.google.com/spreadsheets/d/1XgVwDE2T7K3WsKemb-fK1tDdD0C-1_VtzrYAj3BxtZw/" target="_blank">Kurikulum</a></h3></li>
</ul>

<div>&nbsp;</div>

<h2>Materi</h2>

<ul>
  <li><h3><a href="materi/alquran" target="_blank">Alquran</a></h3></li>
  <li><h3><a href="materi/akhlak" target="_blank">Akhlak</a></h3></li>
  <li><h3><a href="materi/shalat" target="_blank">Shalat</a></h3></li>
  <li><h3><a href="materi/nizam" target="_blank">Nizam Jemaat</a></h3></li>
  <li><h3><a href="materi/pengorbanan" target="_blank">Pengorbanan</a></h3></li>
  <li><h3><a href="materi/keilmuan" target="_blank">Keilmuan</a></h3></li>
</ul>

-->

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
